body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: "Segoe UI Light";
}

.resizable {
    resize: both;
    overflow: auto;
}

main {
    flex: 1 0 auto;
}

#profile {
}

.big-text {
    padding-top: 5px;
    font-size: large;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}