@import url("./chat.css");
@import url("./login.css");
@import url("./loading.css");
@import url("./materialize-custom.css");

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

#navbar {
    z-index: 10;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.brand-logo {
    margin-left: 10px;
}

#profile-bar {
    margin-top: 25px;
}

#profile-mobile {
    margin-right: 10px;
}

#offset-navbar-top {
    height: 55px !important;
}

#offset-header-top {
    height: 90px;
}

#offset-input-bottom {
    height: 55px;
}

header {
    margin-top: 75px !important;
    background-color: white;
}

#profile-bar {
    position: fixed;
    top: 70px;
    right: 30px;
    z-index: 10;
}

.background-purple {
    background-color: #4a148c !important;
}

#navbar-right-menu {    
    margin-right: 10px;
}

#leave-btn-on-large {
    margin-top: -3px;
}

#username-on-mobile {
    font-size: large;
    margin-right: 10px;
}